html {font-size:62.5%;-webkit-font-smoothing:antialiased;}
body {text-align:center;font-family:"黑体","Microsoft YaHei","Helvetica Neue",Helvetica,STHeiTi,sans-serif; -webkit-text-size-adjust:none; font-size:1.4rem;background:#EFEFF4;color:#000;-webkit-user-select:none;}
* {margin:0; padding:0;list-style:none; }
.border {
	position: relative;
}

.b_rgt_btm:after {
	border-right: 1px solid #B9BEC3;
	border-bottom: 1px solid #B9BEC3;
}

.keyboard {
	background: #fff;
}

.key_table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 1;
	border-spacing: 0;
	list-style: none;
	padding: 0;
	margin: 0;
}

.key_table td {
	width: 25%;
	height: 5.3rem;
	border:1px solid #DCDFE1;
	text-align: center;
}

.key_table td.disable {
	background-color: #a0c0f0;
}

.keyboard .key {
	line-height: 5.3rem;
	font-family: arial;
	font-size: 2.4rem;
}

.keyboard .key.clear {
	background: url("../images/clear.png")/*tpa=https://spay3.swiftpass.cn/spay/images/v3/clear.png*/
	center no-repeat;
	background-size: 2.6rem 1.9rem;
	width: 100%;
}

.keyboard .key:active {
	background-color: #D5D8DB;
}

.keyboard .pay_btn {
	background-color: #4081e1;
	font-size: 2.4rem;
	color: #fff;
	line-height: 3.5rem;
}

.pay_btn:active {
	background-color: #3872C9;
}

.pay_btn em {
	display: block;
}